body{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #D7B590;
}

p{
    margin: 3px;
    color: antiquewhite;
}

h1 {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    width: max-content;
    padding-top: 2px;
    margin-top: 2px;
    border-bottom: 1px solid #2F2B30;
    color: #2F2B30;
}

h2{
    font-weight: bold;
    color: #2F2B30;
}

h3{
    margin-bottom: 4px;
    color: #2F2B30;
}

h4{
    margin: 0px;
    padding: 8px;
    color: #2F2B30;
}

h5{
    font-style: bold;
    border-bottom: 1px solid antiquewhite;
    font-size:small;
    margin: 8px 0px 8px 0px;
    text-align: center;
    color: antiquewhite;
}

button{
    background-color: antiquewhite;
    border-radius: 10px;
}

button:active{
background-color: #E24421;
}

input{
    background-color: #E24421;
    color: antiquewhite;
}

label{
    color: antiquewhite;
}

select{
    background-color:#E24421;
    color: antiquewhite;
}

.center{
    display: flex;
  justify-content: center;
  align-items: center;
    width: 95vw;
    flex-direction: column;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.columns {
    display: flex;
    flex-direction: column;
}

.linebreak{
    display: flex; 
    align-self: center;
    width: 90%; 
    height: 1px; 
    background-color: antiquewhite;
}


.individual_scramble{
    width : 25%;
    height: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.custom_scramble{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50%;
}

.dev_button{
    width: 50%;
}
#dev{
    padding: 3px;
    margin: 4px;
}

#dev_tools{
    display: none;
    border-radius: 20px;
    background-color: #8B684B;
}

#refresh_button_text{
   display: flex;
   justify-content: center;
    margin: 4px;
    width: 100%;
}

#refresh_button{
    width: 80%;
    height: 36px;
}